.body {
  padding-top: 10px;
  overflow-y: auto;
  text-align: center;
  background-color: #282c34;
  height: calc(100vh - 64px);
  bottom: 0;
  align-items: center;
  justify-content: center;
  color: white;
}
